# Build artifacts & Caches
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info
/cache
/.pytest_cache
/build/
/dist/

# Environments
/.venv
/.direnv

# Editor configurations
.idea/
.vscode/

# Config files
/config/core/*
/config/modules/*
!/config/.gitkeep
!/config/core/.gitkeep
!/config/modules/.gitkeep
/doctest/*

# Log files
/log/*
!/log/.gitkeep

# Chains
/chains
