#
# This list is used by git-shortlog to aggregate contributions.
# It is necessary when either the author's full name is not always written
# the same way, and/or the same author contributes from different
# email addresses.
#

AXAz0r <thealeksaradovic@gmail.com>  Aleksa Radovic <thealeksaradovic@gmail.com>
AXAz0r <thealeksaradovic@gmail.com>  AXAz0r <thealeksaradovic@gmail.com>
Awakening <lucidsunlight@yandex.ru>  awaken1ng <awaken1ng@users.noreply.github.com>
Awakening <lucidsunlight@yandex.ru>  awakening <awaken1ng@users.noreply.github.com>
Awakening <lucidsunlight@yandex.ru>  Awakening <awaken1ng@users.noreply.github.com>
Awakening <lucidsunlight@yandex.ru>  Awakening <lucidsunlight@yandex.ru>
Shifty <prestondj.2001@yahoo.com>  Daniel <prestondj.2001@yahoo.com>
Shifty <prestondj.2001@yahoo.com>  Daniel Preston <prestondj.2001@yahoo.com>
Shifty <prestondj.2001@yahoo.com>  Unknown <prestondj.2001@yahoo.com>
Shifty <prestondj.2001@yahoo.com>  Shifty6 <33166535+Shifty6@users.noreply.github.com>
Shifty <prestondj.2001@yahoo.com>  Shifty <prestondj.2001@yahoo.com>
Valeth <patrick.auernig@mykolab.com>  Patrick Auernig <patrick.auernig@mykolab.com>
dvdcd <sandetholen@outlook.com>  dvdcd <sandetholen@outlook.com>
Flávio Monteiro <flaviomonteiro2013@gmail.com>  Flávio Monteiro <flaviomonteiro2013@gmail.com>
MaybeGoogle <30007491+MaybeGoogle@users.noreply.github.com>  MaybeGoogle <30007491+MaybeGoogle@users.noreply.github.com>
MoronixProduct3 <moronicproduct3@gmail.com>  MoronixProduct3 <moronicproduct3@gmail.com>
Peter Halasz <member@pengo.org>  Peter Halasz <member@pengo.org>
Sinbad <GurkamalS@users.noreply.github.com>  Sinbad <GurkamalS@users.noreply.github.com>
The Codacy Badger <badger@codacy.com>  The Codacy Badger <badger@codacy.com>
Unknown <rhysmck40GA@hotmail.com>  Unknown <rhysmck40GA@hotmail.com>

