version: "3.7"

volumes:
  mongodb:

networks:
  bot:

services:
  database:
    image: "mongo:4.1"
    volumes:
      - "mongodb:/data/db"
    networks:
      - "bot"

  bot:
    image: "registry.gitlab.com/lu-ci/sigma/apex-sigma:latest"
    build:
      context: .
    deploy:
      replicas: 1
    volumes:
      - type:      bind
        source:    "./config"
        target:    "/app/config"
        read_only: true
    networks:
      - "bot"
    depends_on:
      - "database"
