import pytest

from sigma.core.utilities.paginate import paginate


class TestPaginate(object):
    def test_empty(self):
        assert paginate([], 1)   == ([], 1)
        assert paginate([], 2)   == ([], 1)
        assert paginate([], 0)   == ([], 1)
        assert paginate([], "1") == ([], 1)
        assert paginate([], "2") == ([], 1)

    def test_page_none(self):
        assert paginate([], None)   == ([], 1)
        assert paginate(None, [])   == ([], 1)
        assert paginate(None, None) == ([], 1)

    def test_page_size(self):
        nums = list(range(1, 15))
        assert paginate(nums, 1)            == (nums[0:10], 1)
        assert paginate(nums, 3)            == ([], 3)
        assert paginate(nums, 3, span=5)    == (nums[10:15], 3)
        assert paginate(nums, 1, span=0)    == ([], 1)
        assert paginate(nums, 1, span=None) == ([], 1)
